<%-
list ||= @list
sub ||= 'inbox'
label ||= 'Inbox Messages'
sent = params[:action]=='sent'
-%>

<h1>Message Center</h1>
<div class="activity_box" id="comment">
	<h2><%= sanitize label %></h2>
</div>
 
<%- if list.empty? -%>
	<p>No Messages</p>
<%- else -%>
	<table id="messages" border="0" cellspacing="0" cellpadding="0">
	 	<tr>
	   		<th><%= sent ? "To" : "From" %></th>
	    	<th><%= "When" %></th>
	    	<th><%= "Subject" %></th>
		</tr>
		<% list.each do |message|
			mail_user = (current_user == message.sender ? message.receiver : message.sender)%>
		<tr>
			<td><%= link_to mail_user.f,  profile_path(mail_user) %></td>
			<td><%= time_ago_in_words message.created_at %> ago</td>
			<td><%= link_to h( message.subject), message_path(message) %></td>
		</tr>
		<% end %>
	</table>
<%- end -%>