<div class="activity_box learn">
  <div class="left avatar"><%= icon bio, :big %></div>
  <div class="right bio_stuff">
    <h1><%= h bio.f %></h1> 
	  <h3><%= location_link bio %></h3>
		<% unless bio.about_me.blank? %><div><strong>About:</strong> <%= sanitize(textilize(bio.about_me)) %></div><% end %>
		<% unless bio.website.blank? %><div><strong>Website:</strong> <%= link_to h(bio.website), h(bio.website) %></div><% end %>
		<% unless bio.blog.blank? %><div><strong>Blog:</strong> <%= link_to h(bio.blog), h(bio.blog) %></div><% end %>
		<% unless bio.flickr.blank? %><div><strong>Flickr:</strong> <%= link_to h(bio.flickr), h(bio.flickr) %></div><% end %>
		<% unless bio.aim_name.blank? %><div><strong>AIM:</strong> <a href="aim:goim?screenname=<%= h bio.aim_name %>"><%= h bio.aim_name %></a></div><% end %>
		<% unless bio.gtalk_name.blank? %><div><strong>GTalk:</strong> <a href="xmpp:<%= h bio.gtalk_name %>"><%=h bio.gtalk_name %></a></div><% end %>
		<% unless bio.ichat_name.blank? %><div><strong>iChat:</strong> <a href="ichat:<%= h bio.ichat_name %>"><%=h bio.ichat_name %></a></div><% end %>
	</div>
    <div class="clear"></div>
</div>