<div class="activity_box">
	<h2>Search Results</h2>
	<% @results.each do |result| %>
		<div class="search_row left text_c">
			<div><%= icon result %></div>
			<div><%= link_to h(result.full_name), profile_path(result) %></div>
			<% unless result.languages.empty? -%>
				<div>Language(s):<%=result.languages.collect{|language| language.english_name}.join(' ') %></div>
			<% end -%>
			<% unless result.location.empty? -%>
				<div>Location:<%= result.location %></div>
			<% end -%>
			<% unless result.why_joined.empty? -%>
				<div>Why I joined:<%=result.why_joined %></div>
			<% end -%>
		</div>
	<% end %>

	<%= will_paginate @results %>
</div>