<%= render :partial => 'shared/user_menu', :locals => {:user => @user} %>
<div class="left" id="column_l">	
	<h1><%= @group.name %></h1>
	
	<div id="information" class="activity_box">
		<h2>Information</h2>
		<%= @group.description %>
	</div>
	
	<div class="clear"></div>
	
	<div id="forums" class="activity_box">
		<h2>Forums</h2>
	</div>
	
	<div class="clear"></div>
	
	<div id="wall" class="activity_box">
		<h2>Wall</h2>
	</div>
	
	<div class="clear"></div>
	
	<div id="news" class="activity_box">
		<h2>News</h2>
	</div>
	
	<div class="clear"></div>
	
	<div id="photo_wall" class="activity_box">
		<h2>Photos</h2>
    %= render :partial => 'photos/photo', :collection => @photos %
    <div class="clear"></div>
  </div>
  %= will_paginate @photos %

  <div class="clear"></div>

	<div id="news" class="activity_box">
		<h2>Videos</h2>
	</div>
	
	<div class="clear"></div>
	
	<div id="news" class="activity_box">
		<h2>Posted</h2>
		Links
	</div>
	
	<div class="clear"></div>
	
</div>

<div class="right" id="column_r">
  
	<% if true -%>
		<div id="group-administration" class=" activity_box">
			<h2>Group Administration</h2>
			<%= link_to 'Edit Group', edit_group_path(@group) %>
		</div>
	<% end -%>

	<div class="clear"></div>
		
	<div id="group-officers" class="activity_box">
    <h2>Officers</h2>
		<%= render :partial => 'groups/group_member', :object => @group.creator, :locals => {:caption => 'creator'} -%>
		<%= render :partial => 'groups/group_member', :collection => @group.managers, :locals => {:caption => 'manager'} -%>
  </div>
	
	<div class="clear"></div>
	
	<div id="group-members" class="activity_box">
    <h2>Members</h2>
		<%= render :partial => 'groups/group_member', :collection => @group.members, :locals => {:caption => 'member'} -%>
  </div>

</div>