<%
photos_empty = current_user.photos.empty?
friends_empty = (current_user.followings + current_user.friends).empty?
messages_empty = current_user.sent_messages.empty?
profile_empty = current_user.no_data?
blog_empty = current_user.blogs.empty?
return unless photos_empty && friends_empty && messages_empty && profile_empty && blog_empty
%>
<div>
	<h2 class="getting_started">How to Get Started</h2>

	<div class="half left">
		
		<%- if profile_empty -%>  
		<div class="blurp">
			<img src="/images/blurp_profile.png" class="left png" title="Profile Icon" alt="Profile Icon" />
			<strong><%= link_to 'Setup Your Profile', edit_user_path %></strong>
			Your public profile is the way your friends will learn about you and keep up-to-date on your life.
			Upload a profile photo, add an "about me" connect with new and old friends.  
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<%- if photos_empty -%>
		<div class="blurp">
			<img src="/images/blurp_photos.png" class="png left" title="Share Icon"  alt="Share Icon" />
			<strong><%= link_to 'Share Photos', user_photos_path(current_user) %></strong>
			<%= GlobalConfig.application_url_name %> allows users to upload images with captions on to their profile.  
			We love someone to build albums, tagging and commenting on photos for this open source project!
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<%- if friends_empty -%>
		<div class="blurp">
			<img src="/images/blurp_friends.png" class="png left" title="Friend Icon" alt="Friend Icon" />
			<strong>Groups</strong>
			Search for others with common interests.
			<div class="clear"></div>
		</div>
		<%- end -%>
		
		<div class="clear"></div>
	</div>

	<div class="half right">
		<%- if friends_empty -%>
		<div class="blurp">
			<img src="/images/blurp_friends.png" class="png left" title="Friend Icon" alt="Friend Icon" />
			<strong>Find Friends</strong>
			Search for others with common interests.
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<%- if messages_empty -%>
		<div class="blurp">
			<img src="/images/blurp_message.png" class="png left" title="Message Icon" alt="Message Icon" />
			<strong>Message Friends</strong>
			<%= GlobalConfig.application_url_name %> allows users to upload images with captions on to their profile.  
			We love someone to build albums, tagging and commenting on photos!
			
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<%- if blog_empty -%>
		<div class="blurp">
			<img src="/images/blurp_comment.png" class="left png" title="Comment Icon" alt="Comment Icon" />
			<strong><%= link_to 'Start Blogging!', user_blogs_path(current_user) %></strong>
			Your public profile is the way your friends will learn about you and keep up-to-date on your life. 
			Upload a profile photo, add an "about me" connect with new and old friends.  
			<div class="clear"></div>
		</div>
		<%- end -%>
	
		<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>