<script type="text/javascript" language="JavaScript">
jQuery(document).ready(function()
{
    jQuery("#user_login").blur(function()
    {
        //check the username exists or not from ajax
        jQuery.post('<%=is_login_available_users_url%>',{ user_login:jQuery(this).val() } ,function(data)
        {
        	jQuery("#login-availibility").html(data);    
        }); 
    });
		
		jQuery("#user_email").blur(function()
    {
        //check the email exists or not from ajax
        jQuery.post('<%=is_email_available_users_url%>',{ user_email:jQuery(this).val() } ,function(data)
        {
        	jQuery("#email-availibility").html(data);    
        }); 
    });

		jQuery("#user_country_id").change(function()
    {
				if(jQuery(this).val() == '<%=@united_states_id%>'){
						jQuery("#state-container").show();
				} else {
						jQuery("#state-container").hide();
				}
    });

		jQuery("#user_login").keydown(function() { 
			jQuery("#login-availibility").html(''); 
		});
		
		jQuery("#user_email").keydown(function() { 
			jQuery("#email-availibility").html(''); 
		});
		
		// intially hide the state select list
		jQuery("#state-container").hide();
});
</script>

<div class="left" id="column_l">
	
	<% form_for :user, :url => users_path, :html => {:id => "register"} do |f| -%>
	
    <h1><%= "Sign-up Now" %></h1>
    <div class="instruction">Welcome to <%= GlobalConfig.application_name %></div>
    <div class="instruction"><p>Already a member? <a href="<%=login_url%>">Sign in now</a></p></div>
		<%= error_messages_for :user -%>		

		<div class="row">
			<label for="user_login">Choose a Member Name<em>*</em></label>
			<%= f.text_field :login, {  :class => "text-field" } -%><span id="login-availibility" class="availability"></span>
		</div>
		    
		<div class="row">
			<label for="user_email">Email Address <em>*</em></label>
	 		<%= f.text_field :email, {  :class => "text-field" } -%><span id="email-availibility" class="availability"></span>
		</div>

		<div class="row">
			<label for="user_password">Password <em>*</em></label>		
			<%= f.password_field :password, {  :class => "text-field" } -%>
		</div>
		
		<div class="row">
			<label for="user_password_confirmation">Confirm Password <em>*</em></label>
			<%= f.password_field :password_confirmation, {  :class => "text-field" } -%>
		</div>

		<div class="row">
			<label for="user_country">Country <em>*</em></label>
			<%= f.collection_select :country_id, @countries, :id, :name %>
		</div>

		<div id="state-container" class="row">
			<label for="user_state">State <em>*</em></label>
			<%= f.collection_select :state_id, @states, :id, :name %>
		</div>
				
		<div class="row">
			<label for="user_first_language">First Language </label>
	 		<%= f.collection_select :language_id, @languages, :id, :english_name %>
		</div

		<div class="row">
			<label for="user_language">Other Language(s)</label>
			<ul class="checkbox-list">
				<% @languages.each do |language| -%>
					<li><%= f.check_box :language_ids, {:checked => user_speaks_language?(language)}, "#{language.id}", ""  -%> <%= "#{language.english_name}" -%></li>
				<% end -%>
			</ul>
		</div>
                
		<div class="row">
			<label for="user_why_joined"> A few words on why you are joining TWB</label>
	 		<%= f.text_area :why_joined, {  :class => "text-area" } -%>
		</div>
    
		<div class="row" id="terms-of-service">
			<%= f.check_box :terms_of_service -%>
			<label for="user_terms_of_service">I agree to the <a href="<%=tos_url%>" target="_blank">Terms and Conditions</a></label>																																						
		</div>

	  <div class="button">
	  	<%= f.submit 'Sign-up Now', :class => 'button' %>
	  </div>
	
	<% end %>
</div>


<div class="right" id="column_r">
	<div style="margin:10px 0px 5px -20px;">
		<img width="250" height="250" border="0" alt="" src="/images/child.jpg" id="Picture33"/>
	</div>
	<h2>Why Joining Matters</h2>
	<ul>
		<li>Consult for Teachers Without Borders projects to close the education divide.</li>
		<li>Improve the chances for stability, democracy, hope, and participation in a global economy.</li>
    <li>Help teachers gain access to a global network and clearinghouse of good ideas.</li>
    <li>Ensure digital desegregation in a world increasingly dependent upon technology.</li>
    <li>Enlarge attention to one of the most crucial issues of our time - education in an information age.</li>
  </ul>
</div>