<%-
mini ||= false
user ||= @user
photos ||= @photos

if mini
  size ||= 8
  photos = user.photos.find :all, :limit => size
  total = user.photos.count -%>

  <%- unless photos.empty? -%>
  <div class="activity_box" id="photo">
    <h2>Photos</h2>
    <div id="photos" class="inside_box">
      <% photos.each do |picture|%>
      <div class="image left">
        <div>
          <%= link_to image(picture, :small), user_photos_path(picture.user) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%- end -%>	

<%- else -%>

  <div class="left" id="column_l">	
		<h1><%= icon user %> <%= "#{user.f}'s Photos" %></h1>
		<%= render :partial => 'shared/user_menu', :locals => {:user => @user} %>
		
		<div id="photo_wall">
      <%= render :partial => 'photo', :collection => @photos %>

      <div class="clear"></div>
    </div>
    <%= will_paginate @photos %>

    <div class="clear"></div>
  </div>

  <div class="right" id="column_r">
    <% if is_me?(user) %>
    <div class="right upload_form activity_box">
      <%= render :partial => 'form' %>
    </div>
    <% end %>

  </div>
<%- end -%>