<% content_for :head do  -%>
	<%= auto_discovery_link_tag :rss, formatted_user_groups_url(@user, :rss), :title=>"#{@user.f}'s Groups" %>
<% end -%>

<h1><%= icon @user %> <%= @user.f %>'s Groups</h1>
<%= render :partial => 'shared/user_menu', :locals => {:user => @user} %>

<div class="left" id="column_l">
	<% if @groups.empty? %>
 		<p><%= is_me?(@user) ? "You aren't" : "#{@user.f} isn't" %> a member of any groups.</p>
  <% else %>
  	<%= render :partial => 'groups/group', :collection => @groups %>
  <% end %>
</div>